/** 
    *@mapstagram
    *version du fichier 1.0
    *@lastmodified 2014.01.20
    *@author Romain Malnoult
*/



body {
    background-color:#333;  
    font-family: Helvetica, verdana, sans-serif;   
}

a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    margin: 40px 70px 0 70px;    

}

#twitterfeed ul {
	margin: 0;
	padding: 0;
}

#twitterfeed li {
	list-style-type: none;
	color: #eee;
}


#map_canvas {
    width: 53%;
    /*margin: 0 auto;*/
    height: 519px;
/*    position: absolute;*/
    float: left;

}

#image {
    width: 90%;
    /*height: 110px;*/
    background-color: #eee;
    position: absolute;
    margin: 0 0px 15px 0 0;
    z-index: -1;
}
#image img {
    width: 400px;
    height: auto;
    border: 30px solid #eee;
    border-bottom: 90px solid #eee;
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.4);
    margin:auto;
    position: relative;
}

#aside {
    width: 513px;
    height: 90%;
    position: relative;
    z-index: 1;
    float: left;
    margin-top: 1px;

}
 #aside > ul li {
    display: inline-block;
    list-style-type: none;
    margin: 5px;
    position: relative;
    overflow: hidden;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#aside > ul li:hover {

    bottom: 2px;
    -webkit-box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.4);

}

#aside > ul {

    position: absolute;
    padding: 15px 29px;
    margin: 0 51px 0 0 ;
    background-color: #eee;
}

img.thumbnail {
    width: 70px;
    border: none;
    box-shadow: none;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}



h1 {
    text-shadow: #FFF 2px 2px 0px,
    #FFF -2px 2px 0px,
    #FFF -2px -2px 0px,
    #FFF 2px -2px 0px; 
    font-weight: 900;
    float: left;


    -webkit-transition: all 0.4s ;
    transition: all 0.4s ;
}
h1:hover {
    text-shadow: #FFF 2px 2px 10px,
    #FFF -2px 2px 10px,
    #FFF -2px -2px 10px,
    #FFF 2px -2px 10px; 
}
header {
    padding: 0 100px 80px 100px;
    margin: 0 0 20px 0px;
    background-color: #333333;
    z-index: 5;
    border-bottom: solid 4px #ddd;
}
header p {
    clear: both;
    margin-top: 0;
    color: #fff;
}
.clear {
    clear: both;
}
input {
    height: 40px;
    width: 200px;
    margin: 20px 0px 0 0;
    border: none;   
    float: right;

}

input:active, input:focus, input:hover {
    -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
}
#search {
    height: 42px;
    width: 50px;
    background-image: url('../ico/search.png');
    background-repeat: no-repeat;
    background-position: 12px 7px;
    margin-left: -3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#search:active, #search:focus, #search:hover {
    -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
}








#image p.caption {
    float: right;
    left: 48px;
    position: absolute;
    bottom: 18px;
    max-width: 350px;
    max-height: 43px;
    overflow: hidden;
    z-index: 2;
    text-align: center;

}

div.mosaicButton {
    width: 50px;
    height: 70px;
    left: 0px;
    margin-left: -50px;
    background-color: #eee;
    border: 1px solid black;
    z-index: -1;
    position: absolute;
    opacity: 0;
}
.mosaicButton ul {
    margin: 0 0 0 0;
    padding: 8px;
}
.mosaicButton ul li {
    float: left;
    list-style-type: none;
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: #444;

}